@import "tailwindcss";
@import "./crt.css";
@import "./theme.css";

body {
  /* font-family: "Pixelated MS Sans Serif", Arial; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes marquee {
  100% {
    background-position-x: 250px;
  }
}

@media not (prefers-reduced-motion: reduce) {
  .animate-marquee {
    -webkit-animation: marquee 10s linear infinite;
  }
}

.xp-button {
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  box-sizing: border-box;
  border: 1px solid #003c74;
  background: linear-gradient(180deg, #fff, #ecebe5 86%, #d8d0c4);
  box-shadow: none;
  border-radius: 3px;
}

.xp-button:not(:disabled).active, .xp-button:not(:disabled):active {
  box-shadow: none;
  background: linear-gradient(180deg, #cdcac3, #e3e3db 8%, #e5e5de 94%, #f2f2f1);
}

.xp-button:focus {
  box-shadow: inset -1px 1px #cee7ff, inset 1px 2px #98b8ea, inset -2px 2px #bcd4f6, inset 1px -1px #89ade4, inset 2px -2px #89ade4;
  outline: 1px dotted #000;
  outline-offset: -4px;

}

pre {
  display: block;
  padding: 12px 8px;
  background-color: #000;
  color: silver;
}

@keyframes tarot-tumble {
  0% {
    transform: rotateY(0deg) rotateZ(0deg);
  }

  25% {
    transform: rotateY(180deg) rotateZ(0deg);
  }

  50% {
    transform: rotateY(360deg) rotateZ(0deg);
  }

  75% {
    transform: rotateY(540deg) rotateZ(0deg);
  }

  100% {
    transform: rotateY(720deg) rotateZ(0deg);
  }
}

.tarot-tumble {
  animation: tarot-tumble 1s linear infinite;
}


@keyframes tarot-rocking {
  0% {
    transform: rotateY(0deg) rotateZ(0deg);
  }

  25% {
    transform: rotateY(25deg) rotateZ(0deg);
  }

  75% {
    transform: rotateY(-25deg) rotateZ(0deg);
  }

  100% {
    transform: rotateY(0deg) rotateZ(0deg);
  }
}

.tarot-rocking {
  animation: tarot-rocking 5s linear infinite;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.sticky-note-font {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}